.contents.row
  = form_for(@message) do |f|
    %h3
      投稿する
    = f.text_field :image, placeholder: "Image Url", type: "text"
    = f.text_area :text, cols: "30", rows: "10", placeholder: "text"
    =f.submit "Send", class: "form-btn"
    -# %input{name: "image", placeholder: "Image Url", type: "text"}/
    -# %textarea{cols: "30", name: "text", placeholder: "text", rows: "10"}
    -# %input#botton{type: "submit", value: "SENT"}/
