.contents.row{
  background-color: white;
  width: 800px;
  margin-right: 300px;
  height: 500px;
  margin-top: 100px;
  margin-left: 350px;
}
form {
  height: 800px;
  width: 300px;
  margin-left: 250px;
    input{
      margin-top: 10px;
      margin-bottom: 15px;
      height: 35px;
      width: 260px;
    }
    textarea{
      margin-top: 10px;
      margin-bottom: 15px;
    }
}

