.wrapper {
  float: left;
  padding: 5px;
  margin-top: 5px;
  height: 870px;
  width: 90%;
}

.contents {
  width: 100%;
  float: right;
  height: 875px;
}

.search {
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
    &__input{
      height: 30px;
      width: 50%;
    }
    &__btn{
      height: 30px;
      width: 100px;
      margin-left: 10px;
    }
}

.content {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
    p {
      height: 40px;
    }
    &__box {
      float: left;
      height: 730px;
      width: 100%;
      // border: 1px solid grey;
      margin: 5px;
      padding: 5px;
    }
      &__box-image{
        height: 150px;
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 15px;
        width: 90%;
      }
      &__box-images{
        float: left;
        height: 150px;
        width: 170px;
        border: 1px solid grey;
        background-size: cover;
          span {
            float: right;
          }
      }
    &__box-btn{
      width: 70px;
      border: 1px solid grey;
      float: right;
      font-size: 10px;
      text-align: center;
      margin-top: 10%;
    }
}

.comments {
  color: white;
}
.comment{
  height: 250px;
  border: 1px solid black;
  width: 98%;
}